<style>
    input {
        width: 200px;
        
    }
    .input{
        width:100%;
    }
</style>
<div class="modal-content" ng-init="initialize()">
    <div class="modal-header">
        
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">
            &times;
        </button>
        <h4 class="modal-title">{{fieldLabel}}</h4>
    </div>
    <div class="modal-body">
        <h2>Area Editor</h2>
        <!--<fieldset>
            <div ng-repeat="option in options">
                <section>
                    <label class="input">
                        <input type="text" class="input-sm" ng-value=" option.value" />
                        <a href="javascript:void(0);" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>

                    </label>
                </section>
            </div>
        </fieldset>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="addGroupForm.$invalid">
            Save
        </button>
    </div>
</div><!-- /.modal-content -->
