<style>


    div.rating {
        width: 100px;
    }

    div.btn-group button {
        padding: 6px 12px;
    }

    .savingControl {
        background-color: #FFFFCC;
    }

    .editOptions {
        font-size: 11px;
        display: block;
    }

    .label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap !important;
    }

    div.ui-multiselect {
        max-height: 130px;
        overflow: auto;
    }

    .smart-form header {
        color: #000 !important;
        font-weight: bold;
    }
    #map_canvas {
        margin: 0;
        padding: 0;
        height: 300px;
    }

    ul#ulImageThumbs {
        list-style-type: none;
    }
    ul#ulImageThumbs li {
        float: left;
        margin: 5px;
    }
    ul#ulImageThumbs li a img {
        height: 45px;
    }
</style>

<div id="content" ng-init="initialize()">
    <div style="background-color:#666;padding:10px">
        <div class="row">
            <div class="col col-md-7 col-sm-12" style="font-size: 22px; color: #eee; padding-left: 25px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;padding-bottom:5px">
                <i class="fa fa-file"></i> {{address}}
            </div>
            <div class="col col-md-5 col-sm-12" style="text-align:right">
                <div class="btn-group ng-scope">
                    <button type="button" class="btn  ng-binding ng-scope ">Preview</button>
                    <button type="button" class="btn  ng-binding ng-scope">Quick Edit</button>
                    <button type="button" class="btn  ng-binding ng-scope btn-primary">Full Edit</button>
                </div>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
    
    </div>
    <div style="padding:18px 14px">
        <div class="row">

            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="jarviswidget" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                    <header role="heading">
                        
                        <h2 class="ng-binding">Lot</h2>

                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>
                    <div role="content" style="min-height:303px">
                        <div class="widget-body">

                            <dl class="dl-horizontal">
                                <dt>LINC:</dt>
                                <dd>0019133008</dd>
                                <dt>Subdivision:</dt>
                                <dd>Rural Northeast South Sturgeon</dd>
                                <dt>Zoning:</dt>
                                <dd>AG</dd>
                            </dl>
                            <ul id="ulImageThumbs">
                                <li>
                                    <a href="http://firstindustrial.blob.core.windows.net/firstindustrial/19014_Map1.jpg?635645590249470000" rel="prettyPhoto[pp_gal1]" class="hoverZoomLink">
                                        <img src="http://firstindustrial.blob.core.windows.net/firstindustrial/19014_Map1_tm.jpg?635645590249470000" class="span1">
                                    </a>
                                </li>
                                <li>
                                    <a href="http://firstindustrial.blob.core.windows.net/firstindustrial/19014_Map2.jpg?635645590249470000" rel="prettyPhoto[pp_gal1]" class="hoverZoomLink">
                                        <img src="http://firstindustrial.blob.core.windows.net/firstindustrial/19014_Map2_tm.jpg?635645590249470000" class="span1">
                                    </a>
                                </li>
                                <li>
                                    <a href="http://firstindustrial.blob.core.windows.net/firstindustrial/19014_Map3.jpg?635645590249470000" rel="prettyPhoto[pp_gal1]" class="hoverZoomLink">
                                        <img src="http://firstindustrial.blob.core.windows.net/firstindustrial/19014_Map3_tm.jpg?635645590249470000" class="span1">
                                    </a>
                                </li>
                                <li>
                                    <a href="http://firstindustrial.blob.core.windows.net/firstindustrial/19014_Aerial1.jpg?635645590249470000" rel="prettyPhoto[pp_gal1]" class="hoverZoomLink">
                                        <img src="http://firstindustrial.blob.core.windows.net/firstindustrial/19014_Aerial1_tm.jpg?635645590249470000" class="span1">
                                    </a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>               

                </div>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-include="'app/modules/global/views/template-map.html'"></article>
        </div>
        <div class="row">
            <article class="col-sm-12 sortable-grid ui-sortable">

                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                    <header role="heading">
                        <ul class="nav nav-tabs pull-left in">
                            <li>
                                <a data-toggle="tab" href="#tabHistory">History</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tabSales">Sales</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tabSupply">Supply</a>
                            </li>
                            <li class="active">
                                <a data-toggle="tab" href="#tabProfile">Profile</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tabImages">Images</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tabZoning">Zoning</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tabTaxation">Taxation</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tabNotes">Notes</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tabLandTitles">Land Titles</a>
                            </li>
                        </ul>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>

                    <!-- widget div-->
                    <div role="content">
                        <form class="smart-form">
                            <!-- widget edit box -->
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body">

                                <div class="tab-content">
                                    <div class="tab-pane " id="tabHistory">
                                        <h1>History</h1>
                                    </div>
                                    <div class="tab-pane " id="tabSales">
                                        <h1>Sales</h1>
                                    </div>
                                    <div class="tab-pane " id="tabSupply">
                                        <h1>Supply</h1>
                                    </div>
                                    <div class="tab-pane active" id="tabProfile">
                                        <div class="row">
                                            <div class="col col-8">


                                                <div ng-repeat="fieldSet in [fieldSetSettings]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
                                                <div ng-repeat="fieldSet in [fieldSetLINCs]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
                                                <div ng-repeat="fieldSet in [fieldLocation]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
                                                <div ng-repeat="fieldSet in [fieldConfiguration]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane " id="tabImages">
                                        <h1>Images</h1>
                                    </div>
                                    <div class="tab-pane " id="tabZoning">
                                        <h1>Zoning</h1>
                                    </div>
                                    <div class="tab-pane " id="tabTaxation">
                                        <h1>Taxation</h1>
                                    </div>
                                    <div class="tab-pane " id="tabNotes">
                                        <h1>Notes</h1>
                                    </div>
                                    <div class="tab-pane " id="tabLandTitles">
                                        <h1>Land Titles</h1>
                                    </div>
                                </div>

                            </div>
                            <!-- end widget content -->
                        </form>

                    </div>
                    <!-- end widget div -->

                </div>

            </article>
        </div>
    </div>
</div>
