

<nav class="navlt" ng-controller="NavigationCtrl" ng-init="initialize()">
    <ul>
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.search.map" title="Search">
                <i class="fa fa-lg fa-fw fa-search" style="color:#0f9d58"></i> <span class="menu-item-parent">Search</span>
            </a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.newLand" title="Lot">
                <i class="fa fa-lg fa-fw fa-file" style="color:#4285f4"></i> <span class="menu-item-parent">New Lot</span>
            </a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.program.deadline" title="New Set or Group Lot">
                <i class="fa fa-lg fa-fw fa-folder" style="color:#795548"></i> <span class="menu-item-parent">New Set or Group Lot</span>
            </a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.maps"><i class="fa fa-lg fa-fw fa-legal" style="color:#eca403"></i> <span class="menu-item-parent">Land Titles</span></a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.course" title="Todo">
                <i class="fa fa-lg fa-fw fa-check-square-o" style="color:#9C27B0"></i> <span class="menu-item-parent">Todo</span>
            </a>
        </li>


        <!--<li data-ui-sref-active="active" ng-if="userNavigation.showDashboard">
            <a data-ui-sref="app.sample" title="Dashboard">
                <i class="fa fa-lg fa-fw fa-home" style="color:#0f9d58"></i>
                Dashboard
            </a>
        </li>
        <li data-ui-sref-active="active" ng-if="userNavigation.showCourses">
            <a data-ui-sref="app.courseListing" title="Courses">
                <i class="fa fa-lg fa-fw fa-book" style="color:#4285f4"></i> Courses
            </a>
        </li>
        <li data-ui-sref-active="active" ng-if="userNavigation.showPrograms">
            <a data-ui-sref="app.programlisting" title="Programs">
                <i class="fa fa-lg fa-fw fa-mortar-board" style="color:#795548"></i> Programs
            </a>
        </li>
        <li data-ui-sref-active="active" ng-if="userNavigation.showPrograms">
            <a data-ui-sref="app.portfoliolisting" title="Portfolios">
                <i class="fa fa-lg fa-fw fa-certificate" style="color:#eca403"></i>Portfolios
            </a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.lmsAdministration" title="LMS Administration">
                <i class="fa  icon-Moodle-logo" style="color:#9C27B0"></i> <span class="menu-item-parent">LMS Administration</span>
            </a>
        </li>
        <li data-ui-sref-active="active">
            <a title="Users" data-ui-sref="app.userlisting">
                <i class="fa fa-lg fa-fw fa-user" style="color:#689F38"></i> Users
            </a>
        </li>-->
    </ul>
    <!--<ul>
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.transferAgreementListing" title="Transfer Agreements">
                <i class="fa fa-lg fa-fw fa-exchange"></i> Transfer Agreements
            </a>
        </li>
        <li data-ui-sref-active="active" ng-show="userNavigation.showTransferAgreementsAdmin">
            <a data-ui-sref="app.transferagreementadmin.institutions" title="Partner Institution List">
                <i class="fa fa-lg fa-fw fa-university"></i> Partner Institutions
            </a>
        </li>
    </ul>
    <ul>
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.userrolemanager" title="User Role Manager">
                <i class="fa fa-lg fa-fw fa-user"></i> User Role Manager
            </a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.roleEditor" title="Role Editor">
                <i class="fa fa-lg fa-fw fa-user"></i> Role Editor
            </a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.abilityEditor" title="Role Editor">
                <i class="fa fa-lg fa-fw fa-lock"></i> Ability Editor
            </a>
        </li>
        <li data-ui-sref-active="active" ng-if="userNavigation.showEmailTemplates">
            <a data-ui-sref="app.email.template" title="Email Templates">
                <i class="fa fa-lg fa-fw fa-envelope"></i> Email Templates
            </a>
        </li>
        <li data-ui-sref-active="active">
            <a title="Deadlines" ng-click="loginas()">
                <i class="fa fa-lg fa-fw fa-user"></i> Login As
            </a>
        </li>
    </ul>-->
</nav>