<style>
    #map_canvas {
        height: 800px;
    }

    .angular-google-map-container {
        height: 400px;
    }

    .marker-win {
        width: 200px;
    }

        .marker-win strong {
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }

        .marker-win .dl-horizontal {
            margin-bottom: 0px;
        }


            .marker-win .dl-horizontal dt {
                width: 50px !important;
                font-size: 11px;
            }

            .marker-win .dl-horizontal dd {
                margin-left: 60px;
                font-size: 11px;
            }
</style>


<div ng-init="initialize()">
    <h2>map test</h2>
    <div style="background-color:#ccc">
        test:
        {{polygons}}<br />
        stringify: {{stringify}}
        <div>{{title}}</div>
    </div>
    <div id="map_canvas">
        <div >
            <ui-gmap-google-map center="map.center" zoom="map.zoom">
                <ui-gmap-marker ng-repeat="marker in markers" idKey="marker.id" coords="marker.foo.coordinates" click="markerClick(marker)">
                    <ui-gmap-window show="marker.show" options="marker.options" closeClick="markerClose(marker)" ng-cloak="ng-cloak">
                        <div><a ui-sref="foo({fooId: marker.foo.id})">{{marker.foo.name}}</a></div>
                    </ui-gmap-window>
                </ui-gmap-marker>
            </ui-gmap-google-map>
            <ul>
                <li ng-repeat="marker in markers">
                    <a ui-sref="foo({fooId: marker.foo.id})">{{marker.foo.name}}</a>
                </li>
            </ul>
        </div>
    </div>


</div>
