<div ng-init="initialize()" style="padding:10px">
    <div class="alert alert-block alert-warning" ng-show="hasChanged">
        <a class="close" data-dismiss="alert" href="#">×</a>
        You have made a change. Click <b>'Save'</b> to Save changes. Click <b>'Revert'</b> to go back to the previous state.
    </div>
    <div style="padding-bottom:15px">
        <a href="javascript:void(0);" class="btn btn-primary btn-sm " ng-click="addPolygon()" ng-hide="polygons[0].location.length > 0">Add Polygon</a>
        <a href="javascript:void(0);" class="btn btn-danger  btn-sm " ng-click="removePolygon()" ng-show="polygons[0].location.length > 0">Remove Polygon</a>
        <a href="javascript:void(0);" class="btn btn-primary btn-sm " ng-click="addPin()" ng-hide="marker.id == 1">Add Pin</a>
        <a href="javascript:void(0);" class="btn btn-danger  btn-sm " ng-click="removePin()" ng-show="marker.id == 1">Remove Pin</a>        
        <a href="javascript:void(0);" class="btn btn-danger  btn-sm  pull-right" ng-click="revert()" ng-show="hasChanged" style="margin-left:5px">Revert</a>
        <a href="javascript:void(0);" class="btn btn-primary btn-sm  pull-right" ng-click="save()" ng-show="hasChanged">Save</a>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <div id="editMap" style="border:1px solid #ccc; height:550px" ng-if="showMap">
                <ui-gmap-google-map center="mapDto.center" zoom="mapDto.zoom" draggable="false" bounds="mapDto.bounds" options="mapDto.options">
                    <ui-gmap-polygon ng-repeat="poly in polygons track by $index" path="poly.location" visible="true" editable="true" draggable="false" fill="geoFill" stroke="geoStroke" events="polyEvents"></ui-gmap-polygon>
                    <ui-gmap-marker icon="marker.icon" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
    <div style="padding:20px;margin-top:20px">
        <a href="javascript:void(0);" class="btn btn-primary  ng-scope" ng-click="getAddress()" ng-show="marker.id == 1">Get Google Info</a>
        <div ng-hide="geoCodeAddress[0] == null">
            <div ><b>Address:</b> {{geoCodeAddress[0].formatted_address}}</div>
            <div><b>Subdivision:</b> {{geoCodeAddress[1].address_components[0].long_name}}</div>
            <div><b>Locus:</b> {{geoCodeAddress[2].address_components[0].long_name}}</div>
            <div><b>Area:</b> {{area }}</div>
        </div>
    </div>
</div>