<div ng-init="initialize()">
    
    <div ng-repeat="fieldSet in [fieldSetCommericalLevy]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
    <div ng-repeat="fieldSet in [fieldSetLocalImprovements]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
    <div ng-repeat="fieldSet in [fieldSetOnsiteAnddOffSiteChanges]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
    <div ng-repeat="fieldSet in [fieldSetDedication]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
    <div ng-repeat="fieldSet in [fieldSetTaxForfeiture]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
    <div ng-repeat="fieldSet in [fieldSetRemarks]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
</div>