<div ng-init="initialize()">
    <div ng-repeat="fieldSet in [fieldSet_eventdate]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
    <div ng-repeat="fieldSet in [fieldSet_existing]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
    <div ng-repeat="fieldSet in [fieldSet_plansstudiesbriefs]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
    <div ng-repeat="fieldSet in [fieldSet_proposed]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
    <div ng-repeat="fieldSet in [fieldSet_encumbrances]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
    <div ng-repeat="fieldSet in [fieldSet_remarks]" ng-include="'app/modules/global/views/template-fieldSet.html'"></div>
</div>