                <!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-white jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">
    <header role="heading">


        <h2>Location</h2>

    </header>

    <!-- widget div-->
    <div role="content">

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            <div id="map_canvas" >
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
                    <ui-gmap-markers models="mapMarkers" coords="'self'" icon="'icon'">
                    </ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->