<div id="content" style="margin: 20px;">
    <h1>Course Document Upload</h1>
    <p>Choose the type of ducument you are uploading and then select the file to upload.</p>
    <strong style="margin: 10px;">Document Types: </strong>
    <select ng-options="key as prop for (key, prop) in docTypes" ng-model="docType"></select>
    <br />
    <div ng-if="docType != ''">
        <button class="btn btn-primary" onclick="$('#fileUpload').trigger('click');" style="margin: 10px 0 0 10px;">Browse...</button>
        <input id="fileUpload" style="display: none;" type="file" ng-file-select ng-file-change="onFileSelect($files)"
               accept="application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword,image/png,image/jpeg,image/jpg,application/vnd.ms-outlook" />
        <p style="color: red; margin: 10px; display: block;" ng-bind-html="errorMessage | paragraph"></p>
        <div class="progress" ng-show="percent > 0">
            <div style="width: {{percent}}%;" class="progress-bar bg-color-greenLight"></div>
        </div>
    </div>
    <button class="btn btn-danger center-block" style="margin-top: 30px; width: 100px;" ng-click="cancel()">Cancel</button>
</div>